argcomplete==3.2.2
astroid==3.0.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
dnspython==2.5.0
docopt==0.6.2
etcd3==0.12.0
grpcio==1.60.1
idna==3.6
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
pipreqs==0.4.13
protobuf==4.25.2
pylint==3.0.3
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
tenacity==8.2.3
toml==0.10.2
urllib3==2.2.0
wrapt==1.16.0
xmltodict==0.13.0
yarg==0.1.9
yq==3.2.3
